<script type="text/javascript">	
	$(function() {	
		$(".project_text_description").delay("slow").animate({ left: '-25px', opacity: '1'}, 800);
		$(".project_slideshow").delay("slow").animate({ right: '-25px', opacity: '1'}, 800);
		$('#slider').nivoSlider();	
	});
</script>
<div class="portfolio_project">
	<div class="project_text_description">
		<span class="project_title"><span class="orange_underline">G</span>reenLys</span>
		<br><br>
		<p  class="project_description">
			GreenLys aims at analyzing the contribution of technological information and communications infrastructures (called “smart” or “intelligent”) over the Group’s entire skills range: water, natural gas, electricity, heating and cooling.<br><br>
			This assessment covers technical-economic, environmental and social aspects. It is based on three programs: energy storage, smart metering and smart grids.			
		</p>		
		<div class="project_skills">
			<ul>
				<li>J2EE</li>
				<li>Oracle</li>
				<li>Talend</li>
				<li>SOAP</li>
			</ul>
		</div>

	</div>
	<div class="project_slideshow">
      <div class="slider-wrapper theme-default">    
			<div id="slider" class="nivoSlider">
				<%= image_tag "projects/greenlys_01.png" %>
			   <%= image_tag "projects/greenlys_02.png" %>
			   <%= image_tag "projects/greenlys_03.png" %>
			   <%= image_tag "projects/greenlys_04.png" %>
			   <%= image_tag "projects/greenlys_05.png" %>
			</div>		
		</div>	
	</div>
</div>