<div class="experience_section">	

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<%= image_tag "ucla_icon.gif" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="timeline_header">
					<%= image_tag "ucla_logo.jpg", class: 'timeline_images' %> 
					<span class="timeline_enterprise">University of California, Los Angeles</span>
				</div>	
				<div class="timeline_position">Lead Web Developer</div>
				<p>
					Lead developer for UCLA’s Department of Medicine, creating and managing all of their web-based applications and platforms such as:<br>
					IMED Seminar – a web platform for hosting conferences from well-known leaders around the world including Eric Schmidt, Henry Samueli, and Jeannie Buss.<br>
					Administrative role: supervise two employees.
				</p>

				<div class="timeline_skills">
					<ul>
						<li>Ruby on Rails</li>						
						<li>JQuery</li>
						<li>PHP</li>
						<li>WordPress</li>
						<li>MySQL</li>
					</ul>
				</div>

				<span class="cd-date">March 2013 → Current</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->		

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<%= image_tag "engie_logo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="timeline_header">
					<%= image_tag "engie_logo.png", class: 'timeline_images' %> 
					<span class="timeline_enterprise">Engie - STERIA</span>
				</div>	
				<div class="timeline_position">Functional Manager</div>
				<p>
					Manage a team of three for the development of a web application for Engie customers.<br>
					Produce requirements specification based on customer needs. <br>
					In charge of the acceptance testing.
				</p>

				<div class="timeline_skills">
					<ul>										
						<li>JQuery</li>
						<li>J2EE</li>
						<li>Oracle</li>
						<li>Talend</li>
					</ul>
				</div>

				<span class="cd-date">September 2011 → December 2012</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<%= image_tag "bouygues_immobilier_icon.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="timeline_header">
					<%= image_tag "bouygues_immobilier_logo.jpg", class: 'timeline_images' %> 
					<span class="timeline_enterprise">Bouygues Immobilier - STERIA</span>
				</div>	
				<div class="timeline_position">Web Developer</div>
				<p>
					Developed a web application to retrieve and visualize energy consumption and temperature of the new generation of Green Office buildings.
				</p>

				<div class="timeline_skills">
					<ul>
						<li>Ruby on Rails</li>						
						<li>JQuery</li>
						<li>Ajax</li>
						<li>PostgreSQL</li>						
					</ul>
				</div>

				<span class="cd-date">February 2011 → September 2011</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<%= image_tag "ucd_logo.png" %>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="timeline_header">
					<%= image_tag "ucd_logo.png", class: 'timeline_images' %> 
					<span class="timeline_enterprise">University College Dublin</span>
				</div>	
				<div class="timeline_position">Web Developer</div>
				<p>
					Developed a web service named UniPrime to help biological researchers design universal primers. <br>UniPrime is used by researchers all around the world.
				</p>

				<div class="timeline_skills">
					<ul>
						<li>PHP</li>						
						<li>JQuery</li>
						<li>PostgreSQL</li>
						<li>Perl</li>						
					</ul>
				</div>

				<span class="cd-date">September 2009 → February 2010</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->		
	</section> <!-- cd-timeline -->

	<div class="timeline_top">

	</div>

	<div class="timeline">
		<div class="timeline_ucd"></div>
		<div class="timeline_steria"></div>
		<div class="timeline_steria"></div>
		<div class="timeline_steria"></div>
	</div>

	<div class="timeline_bottom">

	</div>

</div>	